services:
  - type: web
    name: career-compass
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python run.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
    autoDeploy: false